html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 1px;
    background-color: green;
}